<mat-toolbar color="primary" class="footer">
  <div class="footer-content">

    <div class="footer-section">
      <span><strong>© {{ currentYear }} PG Finder.</strong> All rights reserved.</span>
    </div>

    <div class="footer-section links">
      <a href="/about" mat-button><mat-icon>info</mat-icon> About Us</a>
      <a href="/contact" mat-button><mat-icon>contact_mail</mat-icon> Contact</a>
      <a href="/terms" mat-button><mat-icon>gavel</mat-icon> Terms</a>
    </div>

 

  </div>
</mat-toolbar>
