<div class="dashboard-container mat-typography">
  <h2>Welcome back, Ajay </h2>
  <p class="subtitle">Manage everything from bookings to profile updates at one place.</p>

  <div class="dashboard-grid">
   

    <mat-card class="dashboard-card" routerLink="/user/booking">
      <mat-card-header>
        <mat-icon color="primary">assignment</mat-icon>
        <mat-card-title>My Bookings</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Track your current and past booking requests easily.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/user/profile">
      <mat-card-header>
        <mat-icon color="primary">person</mat-icon>
        <mat-card-title>My Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Manage your personal details and account preferences.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
