<div class="sidebar">
  <mat-nav-list class="sidebar-nav">
    <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active-link">
      <mat-icon class="sidebar-icon">dashboard</mat-icon>
      <span class="nav-label">Dashboard</span>
    </a>

    <a mat-list-item routerLink="/admin/properties" routerLinkActive="active-link">
      <mat-icon class="sidebar-icon">home_work</mat-icon>
      <span class="nav-label">Properties</span>
    </a>

    <a mat-list-item routerLink="/admin/bookings" routerLinkActive="active-link">
      <mat-icon class="sidebar-icon">event_note</mat-icon>
      <span class="nav-label">Bookings</span>
    </a>

    <a mat-list-item routerLink="/admin/users" routerLinkActive="active-link">
      <mat-icon class="sidebar-icon">group</mat-icon>
      <span class="nav-label">Users</span>
    </a>
  </mat-nav-list>
</div>
